<div class="meny">
    <h2 class="menu-header">Navigation</h2>
    <ul class="menu-ul">
        <a href="{{site.baseurl}}/about/"><li class="meny-li">About</li></a>
        <a href="{{site.baseurl}}/contact/"><li class="meny-li">Contact</li></a>
        <a href="https://github.com/sharu725/gatok"><li class="meny-li">Project</li></a>
        <a href="https://github.com/sharu725/gatok/archive/master.zip"><li class="meny-li">Download</li></a>
        
    </ul>
    {% if site.version %}
    <p style="color: #eee">Site Version {{site.version}}</p>
    {% endif %}
</div>


   
