---
---
<!DOCTYPE html>
<html>

{% include head.html %}

  <body>
	<!-- 오정민 연구소 쪽-->
        {% include sidebar.html %}
        <div class="menu-icon"></div>
      <div class="contents">
        {% include header.html %}
		<a href="/search/"><img src="/images/icon/search.png" /></a>
      <div class="page-content">
          <div class="wrapper"> 	  
	   {{ content }}
 </div>
 </div>

{% include footer.html %}
      </div>

{% include 3d-menu.html %}


{% if site.analytics %}

 {% include analytics.html %}
{% endif %}

</body>
</html>
